body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.searchbox{
  padding: 30px;
  text-align: center;
  }

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Cards {
  border: 1px solid black;
  border-radius: 12px;
  padding: 8px;
  background-color: white;
  text-align: center;
  transition: all 100ms;
  max-width: 200px;
  min-width: 200px;
}

.Cards:hover {
  transition: all 100ms;
  background-color: gray;
  border: 1px solid black;
  scale: 0.96;
}

.modalbg {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  border-radius: 12px;
  background-color: white;
  border: 1px solid black;
  padding: 20px
}
