body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  
}

@font-face {
  font-family: "PokemonSolid";
  src: url(./fonts/PokemonSolid.ttf) format("truetype");
  font-size: xx-large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.searchbox{
  padding: 30px;
  text-align: center;
  }

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Cards {
  border: 1px solid black;
  border-radius: 12px;
  padding: 8px;
  background-color: white;
  text-align: center;
  transition: all 300ms;
  max-width: 200px;
  min-width: 200px;
}

.Cards:hover {
  transition: all 200ms;
  background-color: gray;
  border: 1px solid black;
  scale: 0.96;
  z-index: 0;
}

.modalbg {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

.content {
  position: relative;
  border-radius: 12px;
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  z-index: 2;
}

.title {
  font-family: "PokemonSolid";
}

h4,h5 {
  color: lightgray;
}
